h1 {

    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 3px;

}

img {

    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.recipe {

    font-size: 16px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

h3 {

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.ing {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-top: 3px solid black;
    background-color: hsl(138, 99%, 75%);

}

.steps {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-top: 3px solid black;
    background-color: hsl(138, 99%, 75%);

}

body {

    background-color: hsl(138, 99%, 65%);

}